@model $Entity$Model

@using  $ucprojectname$.Core.Domains.$ucprojectname$

@{
    //page title
    ViewBag.PageTitle = T($Entity$Model.Labels.Edit$Entity$Details).Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName($Entity$SearchModel.SYSTEM_NAME);
}

<form asp-controller="$Entity$" asp-action="Edit" method="post" id="$lcent$-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T($Entity$Model.Labels.Edit$Entity$Details) - @Model.Name
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T($Entity$Model.Labels.BackToList)</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T(Common.Labels.Save)
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T(Common.Labels.SaveContinue)
            </button>
            <span id="$lcent$-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T(Common.Labels.Delete)
            </span>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = PluginWidgetZones.$Entity$DetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync($Entity$Model.CREATE_OR_UPDATE_VIEW, Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="$lcent$-delete" />